:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    box-sizing: border-box;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#root {
    height: 100vh;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    h1 {
        @apply text-center text-3xl font-bold;
    }

    h2 {
        @apply text-2xl font-semibold;
    }

    h3 {
        @apply text-xl font-normal;
    }
}
